apiVersion: v1
kind: Service
metadata:
  name: inference-service
  namespace: default
  labels:
    app: inference-server
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: inference-server
  sessionAffinity: None
